<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Activation Email</title>
  </head>
  <body>
    <h2>Xin chào <strong>{{receiver}} </strong>,</h2>
    <p><strong>{{sender}}</strong>
      đã gửi cho bạn lời mời tham gia lớp học
      <strong>{{className}}</strong>
      với vai trò là
      {{role}}, hãy click vào đường link bên dưới:</p>
    <a href='{{invitationLink}}'>Tham gia lớp học</a>
    <div>(Liên kết này chỉ có thời hạn sử dụng là 60 phút kể từ khi bạn nhận
      được email này!)</div>
  </body>
</html>